@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;800;900&display=swap");
@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  margin: 0;
  padding: 0;
}
@media screen and (max-width: 768px) {
  * {
    font-size: 14px;
  }
}
* :focus-visible {
  outline: none;
}

@media screen and (min-width: 1250px) {
  body::-webkit-scrollbar {
    width: 20px;
  }
  body::-webkit-scrollbar-track {
    background: #E8F2D9;
  }
  body::-webkit-scrollbar-thumb {
    border: 5px solid #E8F2D9;
    background: rgba(99, 164, 0, 0.25);
    border-radius: 20px;
    box-shadow: inset 1px 1px 0 rgba(99, 164, 0, 0.2), inset -1px -1px 0 rgba(99, 164, 0, 0.2);
  }
  body::-webkit-scrollbar-thumb:hover {
    background: rgba(99, 164, 0, 0.5);
  }
  body::-webkit-scrollbar-button {
    height: 60px;
  }
}
body {
  background: #E8F2D9 !important;
}
body .global-container {
  display: flex;
  align-items: start;
  justify-content: center;
  gap: 30px;
  margin: 60px auto;
  min-width: 340px;
}
@media screen and (max-width: 1055px) {
  body .global-container {
    margin: 60px auto 100px auto;
  }
}
@media screen and (max-width: 580px) {
  body .global-container {
    margin: 15px;
  }
}
body .global-container .nav {
  background: #FFFFFF;
  border: 1px solid #E7E8EA;
  border-radius: 20px;
  box-shadow: -4px 8px 24px hsla(0, 0%, 0%, 0.25);
  padding: 15px;
}
@media screen and (min-width: 1250px) {
  body .global-container .nav {
    width: 180px;
  }
}
@media screen and (min-width: 1055px) {
  body .global-container .nav {
    position: sticky;
    top: 60px;
  }
}
@media screen and (max-width: 1055px) {
  body .global-container .nav {
    background: hsla(90, 40%, 25%, 0.6);
    -webkit-backdrop-filter: blur(10px);
            backdrop-filter: blur(10px);
    border: 1px solid hsl(90, 40%, 35%);
    border-radius: 20px 20px 0 0;
    bottom: 0;
    padding: 20px;
    position: fixed;
    width: 100%;
    z-index: 2;
  }
}
@media screen and (max-width: 580px) {
  body .global-container .nav {
    border-radius: 10px;
    margin-bottom: 30px;
    min-width: 308.4px;
    padding: 20px 15px;
    width: calc(100% - 60px);
  }
}
body .global-container .nav .nav-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
@media screen and (max-width: 1055px) {
  body .global-container .nav .nav-list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    width: 100%;
  }
}
@media screen and (max-width: 580px) {
  body .global-container .nav .nav-list {
    gap: 15px;
  }
}
body .global-container .nav .nav-list .nav-item {
  border-radius: 10px;
  cursor: pointer;
  padding: 10px 15px;
  transition: all 0.3s ease-in-out;
}
@media screen and (min-width: 1055px) {
  body .global-container .nav .nav-list .nav-item:hover {
    background: #E8F2D9;
    transition: all 0.3s ease-in-out;
  }
}
@media screen and (max-width: 1055px) {
  body .global-container .nav .nav-list .nav-item {
    padding: 0;
  }
}
body .global-container .nav .nav-list .nav-item a {
  color: #212529;
  display: block;
  text-decoration: none;
}
@media screen and (max-width: 1055px) {
  body .global-container .nav .nav-list .nav-item a {
    color: #E8F2D9;
  }
}
body .global-container .nav .nav-list .nav-item a span {
  margin-left: 10px;
}
@media screen and (max-width: 1250px) {
  body .global-container .nav .nav-list .nav-item a span {
    display: none;
    margin-left: 5px;
  }
}
@media screen and (min-width: 1055px) {
  body .global-container .nav .nav-list .nav-item.active {
    background: #63A400;
  }
}
body .global-container .nav .nav-list .nav-item.active a {
  color: #FFFFFF;
  font-weight: 600;
}
@media screen and (max-width: 1055px) {
  body .global-container .nav .nav-list .nav-item.active a span {
    display: inline;
  }
}
body .global-container .main-content {
  position: relative;
  width: -moz-max-content;
  width: max-content;
}
body .global-container .main-content .content {
  animation: fade 0.5s ease backwards;
  background: #FFFFFF;
  border: 1px solid #E7E8EA;
  border-radius: 20px;
  box-shadow: -4px 8px 24px hsla(0, 0%, 0%, 0.25);
  height: auto;
  padding: 30px;
  width: 900px;
}
@media screen and (max-width: 1055px) {
  body .global-container .main-content .content {
    margin-inline: auto;
    width: 700px;
  }
}
@media screen and (max-width: 768px) {
  body .global-container .main-content .content {
    width: 520px;
  }
}
@media screen and (max-width: 580px) {
  body .global-container .main-content .content {
    padding: 15px 15px 92.6px 15px;
    width: 100%;
  }
}

.content .title {
  font-size: 32px;
  font-weight: 800;
  margin-bottom: 0;
  padding-bottom: 15px;
  position: relative;
}
@media screen and (max-width: 768px) {
  .content .title {
    margin-bottom: 15px;
  }
}
@media screen and (max-width: 580px) {
  .content .title {
    font-size: 24px;
    padding-bottom: 10px;
  }
}
.content .title::after {
  background: #63A400;
  border-radius: 5px;
  bottom: 0;
  content: "";
  left: 0;
  height: 5px;
  position: absolute;
  width: 30px;
}
.content .sub-title {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 15px;
}
@media screen and (max-width: 580px) {
  .content .sub-title {
    font-size: 18px;
  }
}
.content .about-info {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 20px 30px 30px 0;
}
.content .about-info > :first-child {
  grid-column: 2;
}
.content .about-info > :nth-child(2) {
  grid-column: 1;
  grid-row: 1/span 2;
}
.content .about-info > :last-child {
  grid-column: 2;
}
@media screen and (max-width: 1055px) {
  .content .about-info {
    gap: 25px;
    margin: 15px 0 30px 0;
  }
  .content .about-info > :nth-child(2) {
    grid-column: 1;
    grid-row: 1;
  }
  .content .about-info > :last-child {
    grid-column: span 2;
  }
}
@media screen and (max-width: 768px) {
  .content .about-info {
    gap: 20px;
    margin: 20px 0 30px 0;
  }
  .content .about-info > :first-child {
    grid-column: span 2;
  }
  .content .about-info > :nth-child(2) {
    grid-row: 2;
  }
  .content .about-info > :last-child {
    grid-column: 2;
  }
}
@media screen and (max-width: 580px) {
  .content .about-info {
    display: block;
    margin: 0 0 20px 0;
  }
}
.content .about-info .about-text {
  margin: auto;
}
@media screen and (max-width: 580px) {
  .content .about-info .about-text {
    margin: 0;
  }
}
.content .about-info .about-img {
  display: block;
  margin: auto;
  height: 350px;
}
@media screen and (max-width: 1055px) {
  .content .about-info .about-img {
    height: 300px;
  }
}
@media screen and (max-width: 768px) {
  .content .about-info .about-img {
    height: 200px;
  }
}
@media screen and (max-width: 580px) {
  .content .about-info .about-img {
    height: 250px;
    margin: 10px auto;
  }
}
.content .about-members {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  justify-content: center;
  margin-bottom: 30px;
  overflow: hidden;
}
@media screen and (max-width: 1055px) {
  .content .about-members {
    gap: 20px;
  }
}
@media screen and (max-width: 580px) {
  .content .about-members {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 580px) {
  .content .about-members {
    gap: 15px;
    margin-bottom: 20px;
  }
}
.content .about-members .member {
  background: #E8F2D9;
  border-radius: 15px;
  height: 150px;
  overflow: hidden;
  padding: 20px;
  position: relative;
  width: 262.8px;
}
@media screen and (max-width: 1055px) {
  .content .about-members .member {
    width: 309.2px;
  }
}
@media screen and (max-width: 768px) {
  .content .about-members .member {
    height: 125px;
    padding: 15px;
    width: 219.2px;
  }
}
@media screen and (max-width: 580px) {
  .content .about-members .member {
    height: 125px;
    width: auto;
  }
}
@media screen and (max-width: 515px) {
  .content .about-members .member {
    height: auto;
    padding: 15px 0 0 0;
  }
}
.content .about-members .member .member-img {
  bottom: 0;
  height: 150px;
  left: 0;
  position: absolute;
}
@media screen and (max-width: 768px) {
  .content .about-members .member .member-img {
    height: 125px;
    left: -10px;
  }
}
@media screen and (max-width: 515px) {
  .content .about-members .member .member-img {
    height: auto;
    left: 0;
    position: relative;
    width: 100%;
  }
}
.content .about-members .member p {
  margin: 0;
  text-align: right;
}
@media screen and (max-width: 515px) {
  .content .about-members .member p {
    text-align: center;
  }
}
.content .about-members .member .last-name {
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
}
@media screen and (max-width: 768px) {
  .content .about-members .member .last-name {
    font-size: 16px;
  }
}
.content .about-members .member .member-socials {
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 0;
  gap: 5px;
  padding: 0 20px 10px 0;
  position: absolute;
  right: 0;
}
@media screen and (max-width: 515px) {
  .content .about-members .member .member-socials {
    padding: 5px 0 0 0;
    position: relative;
  }
}
.content .about-members .member .member-socials i {
  color: #487314;
  font-size: 20px;
  transition: all 0.3s ease-in-out;
}
.content .about-members .member .member-socials i:hover {
  color: #63A400;
  transition: all 0.3s ease-in-out;
}
.content .about-disclaimer {
  display: flex;
  align-items: start;
  justify-content: center;
  background: #E7E8EA;
  border-radius: 15px;
  gap: 30px;
  padding: 20px;
  position: relative;
}
@media screen and (max-width: 768px) {
  .content .about-disclaimer {
    display: block;
    padding: 15px;
  }
}
.content .about-disclaimer .disclaimer-title {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 10px;
}
@media screen and (max-width: 768px) {
  .content .about-disclaimer .disclaimer-title {
    gap: 5px;
    padding-bottom: 10px;
  }
}
.content .about-disclaimer .disclaimer-title i {
  font-size: 24px;
}
@media screen and (max-width: 580px) {
  .content .about-disclaimer .disclaimer-title i {
    font-size: 18px;
  }
}
.content .org-logo {
  display: none;
}
@media screen and (min-width: 768px) {
  .content .org-logo {
    bottom: 0;
    display: block;
    height: 35px;
    left: 0;
    margin: 60px;
    position: absolute;
  }
}