// BASIC COLORS
$white: #FFFFFF;
$black: #212529;
$light-gray: #E7E8EA;
$gray: #757575;
$light-green: #E8F2D9;
$green: #63A400;
$dark-green: #487314;
$yellow: #EEDE27;
$red: #DC3545;
$dark-red: #BB2D3B;

// GRADIENTS
$gradient-1: linear-gradient(to bottom right,#d9d9d9,#d9d9d900 50%);
$gradient-2: linear-gradient(to bottom right,#f9f9fb99,#f0f0f400),#f9f9fb;

// SHADOWS
$shadow-1: 0px 0px 20px 0px hsla(0, 0%, 50%, 0.50);
$shadow-2: -4px 8px 24px hsla(0, 0%, 0%, 0.25);
$shadow-3: 3px 3px 6px hsl(0, 0%, 50%, 0.25);